

<nav class="navbar navbar-expand-lg text-white" style="background-color: rgba(46, 44, 44, 0.822);">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/login">Login</a>
          </li> -->
        </ul>
        <span class="navbar-text text-white">
          Registration system for conference
        </span>
      </div>
    </div>
  </nav>