{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show mx-auto" style="width: 50%;" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

{% endfor %}

<div class="container">
<h2>Edit User</h2>
<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" value="{{ user.name }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Surname:</label>
        <input type="text" id="surname" name="surname" value="{{ user.surname }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input type="text" id="phone" name="phone" value="{{ user.phone }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="school" class="form-label">School:</label>
        <input type="text" id="school" name="school" value="{{ user.school }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="department" class="form-label">Department:</label>
        <input type="text" id="department" name="department" value="{{ user.department }}" class="form-control">
    </div>
    <button type="submit" class="btn btn-warning">Update User</button>
</form>
</div>
{% endblock %}