{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show mx-auto" style="width: 50%;" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="container">
    <h2>Edit User</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.surname.label(class="form-label") }}
            {{ form.surname(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.school.label(class="form-label") }}
            {{ form.school(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.department.label(class="form-label") }}
            {{ form.department(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-warning">Update User</button>
    </form>
</div>
{% endblock %}
