{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show mx-auto" style="width: 50%;" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <br>
    <h1>Registered..</h1>
    <br>

{% else %}

    <div class="container">
        <h1>Register</h1>
        <br/>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <form method="POST">
                {{ form.hidden_tag() }}
                <br>
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                <br>
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <br>
                {{ form.password_hash.label(class="form-label") }}
                {{ form.password_hash(class="form-control") }}
                <br>
                {{ form.password_hash2.label(class="form-label") }}
                {{ form.password_hash2(class="form-control") }}
                <br>
                {{ form.submit(class="btn btn-secondary") }}
            </form>
            <a type="button" class="login-with-google-btn" href="{{ url_for('google_login') }}" >
                Sign Up with Google
              </a>
        </div>
    </div>
{% endif %}

{% endblock content %}
